---

const { title } = Astro.props;

import { Icon } from 'astro-icon/components';

const productos = [
{
	icon: "",
	name: "Producto 1"
},
{
	icon: "",
	name: "Producto 2"
},
{
	icon: "",
	name: "Producto 3"
}
]
---


<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Mi primera pagina Astro" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-zinc-900">
			<div class=" container mx-auto flex items-center pt-2">
				<img src="public/aliexpress_logo.webp" class="h-16 ml-[100px]">
				<div class= "relative">
					<input  placeholder="Buscar" class="py-5 h-9 rounded-full pr-[340px] pl-8 outline-none ml-6">
					<div class="bg-zinc-900 right-1 top-[4px] absolute inline-block text-white rounded-xl py-1 px-2 ">
						<Icon name="mdi:search" class="size-6" />
					</div>
				</div>
				<div class="text-white inline-block ml-7">
					<a href=""><Icon name="mdi:qrcode" class="size-8" /></a>
				</div>
				<div class="inline-block ml-1">
					<p class="inline-block text-white leading-[14px] text-xs ">Descarga la app <br/> de Aliexpress</p>
				</div>
				<div class=" inline-block text-yellow-400 ml-7 ">
					<a href=""><Icon name="flagpack:co" class="size-6" /></a>
				</div>
				<div class="inline-block ml-1">
					<h2 class="text-white text-xs">ES/</h2>
					<h1 class="text-white text-xs">COP!</h1>
				</div>
				<div class="inline-block ml-7 text-white">
					<a href=""><Icon name="mdi:user-outline" class="size-12" /></a>
				</div>
				<div class="inline-block ml-1">
					<h2 class="text-white text-xs">!Bienvenido</h2>
					<h2 class="text-white text-xs">Identificate/Registrate°</h2>
				</div>
				<div class="inline-block ml-7 text-white">
					<a href=""><Icon name="mdi:shopping-cart" class="size-10" /></a>
				</div>
			</div>
		</div>
		<div class="bg-zinc-900 py-2">
			<div class=" container mx-auto flex items-center">
				<div class="relative border border-amber-50 ml-20 rounded-full p-2 hover:bg-zinc-700  group hover:border-transparent">
					<div class="text-white ml-5 inline-block absolute ">
						<Icon name="mdi:menu" class="size-6 "/>
					</div>
					<a href="" class=" text-white ml-[57px] mr-5 text-base">Todas las Categorías</a>
					<a href="">
						<menu class="hidden group-hover:block group-hover:bg-slate-100 border-[1px] rounded-[19px] absolute w-full left-0  text-center  top-0 shadow-xl">
							<ul>
							   <li class="pt-[7px] pb-2 text-left pl-6 text-black flex items-center"><Icon name="mdi:menu" class="size-5 mr-2  "/>Todas las Categorías</li>
							   <li class="py-3 text-left pl-6 text-black flex items-center"><Icon name="mdi:house" class="size-5 mr-2" />Hogar</li>
							   <li class="py-3 text-left pl-6 text-black flex items-center"><Icon name="mdi:face-man-shimmer-outline" class="size-5 mr-2" />Cabello</li>
							   <li class="py-3 text-left pl-6 text-black flex items-center"><Icon name="mdi:clothes-hanger" class="size-5 mr-2" />Moda</li>
							   <li class="py-3 text-left pl-6 text-black flex items-center"><Icon name="mdi:tools" class="size-5 mr-2"  />Herramientas</li>
							   <li class="py-3 text-left pl-6 text-black flex items-center"><Icon name="mdi:headphones" class="size-5 mr-2" />Electronica</li>
							   <li class="py-3 text-left pl-6 text-black flex items-center"><Icon name="mdi:lightbulb-on" class="size-5 mr-2 " />Iluminacion</li>
							</ul>
						</menu>		
					</a>
								
				</div>
				<div class="inline-block rounded-full ml-2 hover:bg-zinc-700 transition duration-300 ">
					<a href="" class=" text-white  text-xl mx-5 block p-2">NN</a>
				</div>
			    <div class="inline-block rounded-full ml-2 hover:bg-zinc-700 transition duration-300">
					<a href="" class=" text-white mx-5 block p-2 text-text-base  ">Superventas</a>
				</div>
				<div class="inline-block rounded-full ml-2 hover:bg-zinc-700 transition duration-300">
					<a href="" class=" text-white mx-5 block p-2 text-text-base ">Mejores Marcas</a>
				</div>
				<div class="inline-block rounded-full ml-2 hover:bg-zinc-700 transition duration-300">
					<a href="" class=" text-white mx-5 block p-2 text-text-base ">Hogar y jardin</a>
				</div>
				<div class="inline-block rounded-full ml-2 hover:bg-zinc-700 transition duration-300">
					<a href="" class=" text-white mx-5 block p-2 text-text-base ">Cabello</a>
				</div>
				<div class="inline-block rounded-full ml-2 hover:bg-zinc-700 transition duration-300">
					<a href="" class=" text-white mx-5 block p-2 text-text-base ">Moda</a>
				</div>
				<div class="inline-block rounded-full ml-2 hover:bg-zinc-700 transition duration-300">
					<a href="" class=" text-white mx-5 block p-2 text-text-base ">Accesorios</a>
				</div>
				<div class="inline-block rounded-full ml-2 hover:bg-zinc-700 transition duration-300">
					<a href="" class=" text-white mx-5 block p-2 text-text-base ">Electronica</a>
				</div>
				
			</div>
		</div>
		<div class="container mx-auto pl-20">
			<img src="/public/banner.webp" alt="" class="py-6 w-11/12 ">
		</div>
		<div class="container">
			<slot />
		</div>

		<div class="container footer">
			PIE DE PAGINA
		</div>
		
	</body>
</html>
<style is:global>
	.main_menu {
		display: flex;
		height: 40px;
		background-color: rgb(223, 69, 27);
	}
	.main_menu a{
		display: flex;
		align-items: center;
		padding: 0 8px;
		color: aliceblue;
		text-decoration: none;
		transition: background 300ms ease-in-out;
	}
	.main_menu a:hover{
		background: rgb(130, 134, 131);
	}
	.categories{
		height: 120px;
	}
	.list {
		display: flex;
		height: 120px;
	}
	.list div{
		height: 100%;
		display: flex;
		max-width: 120px;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid rgb(17, 17, 19);
		border-radius: 4px;
		margin-right: 3px;
		
	}
	.footer{
		height: 120px;
		
	}

	html, body {
		margin: 0;
		padding: 0;
		font-family: system-ui, sans-serif;
		
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
